<h3 class="text-center">Texte intégral </h3>
<h1 class="text-center">
    <%=    @product.title %>"
</h1>
<div class="text-center">
     <% if @product.user %>
        <h5 class="text-center">
         <%= mail_to   @product.user.email, class: "list-link" do %> Répondre à celui qui le dit <% end%>
       
        </h3>
     <% end %>
       <div class="container">
               <blockquote>
                    <em>
                       "<%= @product.content %>"
                    </em> 
                </blockquote>
       </div>
</div>

    </div>
    
   

<p class="text-center">
    </br>
   <%= link_to "Améliorer", edit_product_path(@product), class: "btn btn-success" %>
   <%= link_to "Supprimer", product_path(@product), method: :delete, class: "btn btn-danger" %>

</p>